<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.ISchoolMapper">
    <!--使用返回keyProperty-->
        <insert id="addSchool" keyProperty="scid" useGeneratedKeys="true">
            insert into school values (#{scid},#{scname})
        </insert>
        <sql id="base">
             scid,scname
        </sql>
        <select id="find" resultType="school">
            select * from school
        </select>
     <select id="getSchoolByOrder" resultType="school">
         select <include refid="base"/>
         <![CDATA[
          from school where  scid=1
        ]]>
        </select>
    <select id="getSchool" resultType="school">
        select * from school where scid=#{scid}
    </select>

    <resultMap id="linkStudent" type="school">
        <collection property="student" javaType="java.util.List" fetchType="lazy"  select="com.mybatis.mapper.IStudentMapper.getStudent" column="scid">

        </collection>

    </resultMap>
    <select id="getUnderStudentsOfSchool" resultMap="linkStudent">
        select * from school
    </select>

</mapper>